#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #1a1a1a;
  /* background-image: url("./assets/pxfuel\ \(2\).jpg"); */
  color: rgb(168, 168, 168);
}